<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=yes" /><!-- Make the app mobile responsive -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center" style="background-image: url('https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/04/mars_landscape/21916769-2-eng-GB/Mars_landscape_pillars.jpg')
      ;background-size:cover; background-position:center;height" <!-- Add a background image -->
        <h1 style="color:black ; font-size:70px ; font-weight: bold ; font-family: Comic Sans MS" >Mission to Mars</h1><!-- Change title color and size -->
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-success btn-lg" href="/scrape" role="button" style ="background-color: black ; text-align: center">Scrape New Data</a></p> <!-- Change background-button color -->
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><!-- Adjust size for large desktop, medium desktop, phone or tablets-->
          <div class="media">
            <div class="media-body">
              <h2 style="font-weight:bold; font-size:45px ; font-family: Comic Sans MS">Latest Mars News</h2><!-- Change title style -->
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12"><!-- Adjust size for large desktop, medium desktop, phone or tablet-->
          <h2 style="font-weight:bold; font-size:45px ; font-family: Comic Sans MS">Featured Mars Image</h2><!-- Change title style -->

          <!-- if images is False/None/non-existent, then default to error message -->
          <img
            src="{{mars.featured_image | default('static/images/error.png', true) }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>

        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12"><!-- Adjust size for large desktop, medium desktop, phone or tablet-->
          <!-- Mars Facts -->
          <div class="row : table table-striped : table table-bordered" id="mars-facts"><!-- Style the table with table-striped -->
            <h4 style="color:black ; font-size=60px ; font-weight:bold ; font-family: Comic Sans MS">Mars Facts</h4>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>

      <!-- Section for Mars Hemispheres -->
      <div class="row" id="mars-hemispheres">
        <div class="page-header">
          <h2 class="text-center"; style="font-weight:bold; font-size:45px ; font-family: Comic Sans MS">Mars Hemispheres</h2><!-- Change title style -->
        </div>

        {% for hemisphere in mars.hemisphere_data %}
        <div class="col-md-3 col-xs-12"> <!-- Display hemisphere images on the same row for medium desktop and on all page for mobile-->
          <div class="thumbnail">
            <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" class = "img-responsive" alt="Responsive image">
            <div class="caption">
              <h3>{{hemisphere.title}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
